$background: #191919;
$blue: #35A7FF;
$darkBlue: #0072BB;
$text: #444;

$yellow: #F9C22E;
$red: #E01A4F;
$danger: #BB0A21;

// LIGHT THEME
$light-theme-background: #fff;
$light-theme-text: #444;
$light-theme-blue: #0072BB;

// DARK THEME
$dark-theme-background: #191919;
$dart-theme-text: #fff;
$dart-theme-blue: #35A7FF;